<div class="flex-container">
      <todo-form todo="$ctrl.newTodo"
                 on-add-todo="$ctrl.addTodo($event)">
      </todo-form>

      <filters current-filter="$ctrl.currentFilter"
               on-filter-change="$ctrl.updateFilter($event)">
      </filters>
</div>

<div class="flex-container"> 
      <todo-list items="$ctrl.todos"
                 current-filter="$ctrl.currentFilter"
                 on-update-todos="$ctrl.updateTodos($event)"
                 class="todo-list">
      </todo-list>  
</div>





